body {
    font-family: "Roboto";
    font-size: 22px;
    background-color: #12111f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: clip;
}

h1 {
    color: rgb(255, 255, 255);
}

h4 {
    color: rgb(255, 255, 255);
}

p {
    color: white;
    margin-top: 14px;
    font-size: smaller;
}

.container {
    margin-top: 80px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.small-text-p {
    font-size: 12px;
}

.pattern::before {
    width: 80vw;
    height: 80vw;
    bottom: -60vw;
    left: 35vw;
    z-index: -100;
}

.pattern::before,
.pattern::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10rem;
    z-index: -100;
}

.pattern::after {
    width: 60vw;
    height: 60vw;
    bottom: -30vw;
    left: 80vw;
    z-index: -100;
}

.pattern::before,
.pattern::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10rem;
    z-index: -100;
}

/* Visualization start */
svg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  h6 {
    text-align:center;
    color:white;
    height: 20px;
    line-height: normal;
    margin-top: 10px;
}

.main-text {

}
.sub-text {

}
.sub-text span {

}

button {
    transition: background-color 200ms linear;
}

path {
    stroke-linecap: square;
    stroke: white;
    stroke-width: 0.5px;
}

/* Visualization end */

visualization {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    transform: rotateY(180deg);
    transform: rotateX(180deg);
    z-index: -100;
  }

p > a {
    color: white;
}
promo {

  }
