body {
    font-family: "Roboto";
    font-size: 22px;
    background-color: #12111f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: clip;
}

h1 {
    color: rgb(255, 255, 255);
}

p {
    color: white;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.small-text-p {
    font-size: 12px;
}

.pattern::before {
    width: 80vw;
    height: 80vw;
    bottom: -60vw;
    left: 35vw;
    z-index: -100;
}

.pattern::before,
.pattern::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10rem;
    z-index: -100;
}

.pattern::after {
    width: 60vw;
    height: 60vw;
    bottom: -30vw;
    left: 80vw;
    z-index: -100;
}

.pattern::before,
.pattern::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10rem;
    z-index: -100;
}

/* Visualization start */
svg {
    display: block;
    width: 800px;
    height: 200px;
    padding: 0;
    margin: 0;
    background-color: bisque;
  }

  h1 {
    width: 100%;
    font-family: sans-serif;
    position:absolute;
    text-align:center;
    color:white;
}
.main-text {
    font-size: 40px;
    top: 40%;
}
.sub-text {
    font-size: 30px;
    font-weight: normal;
    top: 60%;
}
.sub-text span {
    font-size: 35px;
}
.button-container {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 85%;
}
button {
    padding: 13px 28px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    transition: background-color 200ms linear;
}
button span {
    display: block;
    float: left;
}
.green-button {
    background-color: #4CAF50;
}
.green-button:hover {
    background-color: #3e8e41;
}
.red-button {
    background-color: #db6247;
}
.red-button:hover {
    background-color: #cc5338;
}
path {
    stroke-linecap: square;
    stroke: white;
    stroke-width: 0.5px;
}

@media only screen and (max-width: 500px) {
    .main-text {
        font-size: 35px; 
    }
    .sub-text {
        font-size: 28px;
    }
    .sub-text span {
        font-size: 30px;
    }
    button {
        font-size: 18px;
    }
}

/* Visualization end */



